*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/


*.iml
*.ipr
*.iws
.idea/


**/doc/api/
.dart_tool/
.melos_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/


app.*.symbols


app.*.map.json


.widget_preview/


**/synheart/vendor/

config.json
**/env/synheart-credentials.json
**/env/synheart.runtime.json


*.db


**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/key.properties
**/android/**/*.keystore
**/android/**/*.jks
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java


codex.md
claude-chat.md
