<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <receiver
            android:name=".DebugCaptureReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.studybuddy.app.DEBUG_CAPTURE_START" />
                <action android:name="com.studybuddy.app.DEBUG_CAPTURE_STOP" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
